.image {
  position: relative;
  max-width: 100%;
  height: auto;
}
.heart {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
}
.image .heart svg {
  width: 30px;
  height: 30px;
  color: red;
}

.container img {
  object-fit: contain;
}
