.image {
  position: relative;
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
.heart {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
}
.heart svg {
  width: 30px;
  height: 30px;
  color: red;
}
.image img {
  max-height: 250px;
  width: 100%;
  height: 100%;
}
