.sidebar {
  margin-top: 25%;
  padding: 5%;
  text-align: center;
}
.sidebar .button {
  margin: 40px 0;
  /* background-color: red; */
}

.sidebar .button a {
  padding: 15px;
  width: 100%;
  border: none;
  background-color: #b78d20;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
  border-radius: 5px;
}

.sidebar div ul {
  list-style-type: none;
  text-align: left;
  line-height: 40px;
  padding: 0;
}
.sidebar div ul li a, .sidebar div ul li button {
  color: black;
  font-size: 20px;
}

.logoutButton {
  border: none;
  background: none;
}
