.div {
  background-color: white;
  width: 100%;
  text-align: center;
  color: black;
}

.offers {
  margin-top: 15px;
  background-color: #c6c6c6b3;
}
.offers ul {
  list-style: none;

  padding: 10px 0;
}
.offers ul li {
  text-align: left;
  margin: 0 auto;
  background-color: white;
  width: 90%;
}
.offers ul li .img {
  display: block;
  height: 50%;
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
}
.offers ul li .img img {
  height: 100%;
}
.offers ul,
.offers ul li .img img {
  width: 100%;
}
.offers ul a {
  text-decoration: none;
}
.offer .info {
  padding: 0 10px;
}
.offer .info div img {
  width: 100%;
}
.offer .info .title {
  color: black;
  font-size: 20px;
}
.offer .info p {
  color: rgb(66, 66, 66);
}
.offer .info .price {
  color: #b78d20;
  font-size: 25px;
  padding-bottom: 20px;
}

.offer .info .price,
.offer .info .title {
  font-weight: bold;
}
