.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px 0;
}
.container .back a svg {
  width: 35px;
  height: 35px;
}
.container .offer .image img {
  max-height: 250px;
  width: 100%;
  height: 100%;
}
.image {
  position: relative;
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
.heart,
.reportContainer .titleReport,
.choose {
  position: absolute;
}
.infoCar p,
.infoSeller p,
.container .back a svg {
  color: #b78d20;
}
.heart {
  top: 0;
  left: 0;
  background: none;
  border: none;
}
.heart svg {
  width: 30px;
  height: 30px;
  color: red;
}
.infoCar {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 10px;
}

.infoCar .title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}
.infoCar p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
}

.infoCar p span {
  color: white;
  width: 45%;
}
.infoSeller {
  background-color: rgba(0, 0, 0, 0.35);
  padding: 5px;
}
.infoSeller p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.infoSeller .title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}
.infoSeller p {
  font-size: 20px;
}
.infoSeller p span {
  color: white;
  width: 45%;
  font-size: 15px;
}
.infoSeller .seller {
  margin-right: 15px;
}
.infoSeller .seller p span a {
  text-decoration: none;
  color: white;
}

.report {
  background: none;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}
.report span {
  margin-left: 10px;
}

.reportContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgb(204, 203, 203);
  width: 80%;
  height: 50%;
}
.reportContainer .titleReport {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #b78d20;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.reportContainer .titleReport button {
  background: none;
  border: none;
}
.reportContainer .titleReport button svg {
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}
.choose {
  top: 15%;
  left: 0;
  right: 0;
}
.choose fieldset {
  display: flex;
  flex-direction: column;
  width: 90%;
  line-height: 25px;
  margin: 0 auto;
  border: none;
}
.choose fieldset textarea {
  width: 100%;
  height: 100px;
}
.choose input[type="submit"] {
  background-color: #b78d20;
  border: none;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
}
