.container {
  align-items: center;
  padding: 5px;
}
.container div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.container div span {
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
}
.container div a svg {
  color: #b78d20;
  width: 25px;
  height: 25px;
}
.container .information {
  text-align: center;
  margin-top: 25px;
}
.container .form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.container .form label {
  font-weight: bold;
}
.container .form input[type="text"] {
  margin-top: 5px;
  font-size: 20px;
  border: none;
  padding: 10px;
  background-color: #a3a3a33e;
  border-radius: 10px;
}
.container .form input[type="submit"] {
  background: #b78d20;
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: white;
}
